<link rel="stylesheet" href="../../styles/styles.css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">liberations</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/gerenciar">gerenciar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/criar-post">criar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/">perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="content">
    <div class="post">
        <h1 class="post-title">{{post.titulo}}</h1>
        {{#ifEqual post.role "owner"}}
            <p class="post-author">Escrito por <a href="/profile/{{post.usuario}}" style="color: rgb(143, 7, 255);">{{post.usuario}}</a> | {{post.date}}</p>
        {{/ifEqual}}
        {{#ifEqual post.role "admin"}}
            <p class="post-author">Escrito por <a href="/profile/{{post.usuario}}" style="color: rgb(255, 7, 110);">{{post.usuario}}</a> | {{post.date}}</p>
        {{/ifEqual}}
        {{#ifEqual post.role "member"}}
            <p class="post-author" id="user_name">Escrito por <a href="/profile/{{post.usuario}}">{{post.usuario}}</a> | {{post.date}}</p> 
        {{/ifEqual}}

        <div class="post-content">{{post.conteudo}}</div>

    </div>

    <h1 class="post-label">Comentarios: </h1>

    <div class="comments-list">

        <div class="comments-container">
            <div class="new-comment">
                {{#if logged}}
                    <form action="/add-comentario" method="post" style="display: flex; flex-direction: column; width: 100%">
                        <textarea id="comment-text" placeholder="Digite seu comentário..." rows="3" name="conteudo"></textarea>
                        <input type="hidden" name="post_id" value="{{postid}}">
                        <button id="submit-comment" type="submit">Enviar</button>
                    </form>
                {{else}}
                    <form action="" method="" style="display: flex; flex-direction: column; width: 100%">
                        <textarea id="comment-text" placeholder="Entre na sua conta para comentar no post" rows="3" name="conteudo" disabled></textarea>
                    </form>
                {{/if}}
            </div>
        </div>

        <hr class="separator" style="color: black;">

        {{#each comentario}}
        <div class="comment">
            <div class="comment-header">
                {{#ifEqual role "owner"}}
                    <span class="comment-author" style="color: rgb(143, 7, 255);">{{usuario}}</span>
                {{/ifEqual}}
                {{#ifEqual role "admin"}}
                    <span class="comment-author" style="color: rgb(255, 7, 110);">{{usuario}}</span>
                {{/ifEqual}}
                {{#ifEqual role "member"}}
                    <span class="comment-author">{{usuario}} - </span>
                {{/ifEqual}}
                <span class="comment-date">- {{date}}</span>
            </div>
            <div class="comment-text">{{conteudo}}</div>
        </div>
        {{/each}}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>