<div class="header">
    <div class="header-text">
        <a href="/">site-foda</a>
    </div>
    <div class="subheader-text">
        <a href="/admin/gerenciar">gerenciar</a>
    </div>
    <div class="subheader-text">
        <a href="/admin/criar-post">criar</a>
    </div>
    <div class="subheader-text">
        <a href="/logout">logout</a>
    </div>
    <div class="subheader-text">
        <a href="/profile/">perfil</a>
    </div>
</div>

<div class="content">
<h1 class="post-label">Chatbox</h1>
  <div class="chatbox-container">
     <div class="chatbox">
        <div class="chat-messages" id="chat-messages"></div>
        <hr class="divider">
        <div class="chat-input">
             {{#if namers}}
                <input type="text" id="message-input" placeholder="Digite sua mensagem...">
                <button id="send-button" style="opacity:">Enviar</button>              
            {{else}}
                <input type="text" id="message-input" placeholder="{{error}}" disabled>
                <button id="send-button" disabled>Enviar</button>
            {{/if}}

        </div>
    </div>
  </div>

    <div class="box1">
        <h1 class="post-label">Todas as categorias</h1>
        <div class="categorias">
            {{#each categorias}}
            <div class="category">
                <h2 class="category-title"><a href="/categoria/{{nome}}">{{nome}}</a></h2>
                {{#if last_post}}
                    <p class="last-post-title">{{last_post.titulo}}</p>
                         {{#ifEqual last_post.role "owner"}}
                            <p class="post-author">por <a href="/profile/{{last_post.usuario}}" style="color: rgb(143, 7, 255);">{{last_post.usuario}}</a> | {{last_post.date}}</p>
                        {{/ifEqual}}
                        {{#ifEqual last_post.role "admin"}}
                            <p class="post-author">por <a href="/profile/{{last_post.usuario}}" style="color: rgb(255, 7, 110);">{{last_post.usuario}}</a> | {{last_post.date}}</p>
                        {{/ifEqual}}
                        {{#ifEqual last_post.role "member"}}
                            <p class="post-author" id="user_name">por <a href="/profile/{{last_post.usuario}}">{{last_post.usuario}}</a> | {{last_post.date}}</p> 
                        {{/ifEqual}}
                {{else}}
                    <p class="no-post-message">Nenhum post nesta categoria ainda.</p>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    const chatMessages = document.getElementById('chat-messages');
    const messageInput = document.getElementById('message-input');
    const sendButton = document.getElementById('send-button');

    function formatDate(date) {
        const day = date.getDate();
        const month = date.getMonth() + 1;
        const year = date.getFullYear();
        const hour = date.getHours();
        const minute = date.getMinutes();

        return `${day}/${month}/${year} - ${hour}:${minute}`;
    }

    var msg_array = {{{jsonStringify msgs}}};

    socket.emit('join-room', "chatbox");
    const date = new Date();

    sendButton.addEventListener('click', () => {
        const message = messageInput.value;
        if (message.trim() !== '') {
            socket.emit('msg', {
                msg: message,
                usuario: '{{namers}}',
                date: formatDate(date)
            });
            messageInput.value = '';
        }
    });

    
    msg_array.map((msgs) => {
        console.log(msgs);
        appendMessage(msgs);
    })

    socket.on('msg', async (message) => {
        console.log(message);
        appendMessage(message[message.length - 1]);
    });

    function appendMessage(messageObj) {

        let user_name = messageObj.usuario;
        let date = messageObj.date;
        let msg = messageObj.msg;

        const messageElement = document.createElement('div');
        messageElement.className = `chat-message`;
        messageElement.innerHTML = `<div class="message-info">${user_name} - ${date}</div><div>${msg}</div>`;
        chatMessages.appendChild(messageElement);
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }
</script>
